services:
  gateway:
    image: nginx:alpine
    container_name: maneuver-gateway
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./deploy/nginx-gateway.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
      - frontend

  db:
    image: postgres:alpine3.22
    container_name: maneuver-db
    restart: always #  postgresql://maneuver_user:secret_password@localhost:5432/maneuver_db?schema=public
    env_file: stack.env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: 
      context: .
      dockerfile: ./server/Dockerfile
    container_name: maneuver-api
    restart: always
    env_file:
      - stack.env
    environment:
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: .
    container_name: maneuver-frontend
    restart: always
    depends_on:
      - api

volumes:
  postgres_data: